spring:
  application:
    name: web3-backend
  datasource:
    url: jdbc:mysql://localhost:3306/web3_db
    username: USER
    password: PASSWORD
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      batch-size: 16384
      linger-ms: 5
      compression-type: snappy
      acks: 1
    consumer:
      group-id: wallet-notifier
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: latest
      enable-auto-commit: true
      max-poll-records: 500
    topics:
      coin-crawl: coin-crawl-topic
      coin-crawl-scheduled: coin-crawl-scheduled-topic

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080
  servlet:
    context-path: /api

logging:
  level:
    com.kunfeng2002.be002: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.cache: DEBUG

web3j:
  client-address: http://localhost:8545
  network-id: 1

telegram:
  bot:
    username: NAME_BOT
    token: TOKEN_BOT

network:
  # ethereum:
  #   rpc-url: wss://mainnet.infura.io/ws/v3/API_INFURA
  #   chain-id: 1
  bsc:
    rpc-url: wss://bnb-testnet.g.alchemy.com/v2/API_ALCHEMY
    chain-id: 97
  #    rpc-url: wss://bsc-mainnet.infura.io/ws/v3/API_INFURA
  #    chain-id: 56
  # arbitrum:
  #   rpc-url: wss://arbitrum-mainnet.infura.io/ws/v3/API_INFURA
  #   chain-id: 42161
  # optimism:
  #   rpc-url: wss://optimism-mainnet.infura.io/ws/v3/API_INFURA
  #   chain-id: 10
  # avalanche:
  #   rpc-url: wss://avalanche-mainnet.infura.io/ws/v3/API_INFURA
  #   chain-id: 43114

app:
  cache:
    refresh-interval: 300000
    fee-ttl: 15
  blockchain:
    reconnect-delay: 5000
    max-retry-attempts: 3

thegraph:
  token: API_TOKEN
  api-key: API_KEY
  base-url: https://token-api.thegraph.com
  pancakeswap-url: https://api.thegraph.com/subgraphs/name/pancakeswap/exchange

coinmarketcap:
  api-key: API_KEY
  base-url: https://pro-api.coinmarketcap.com/v1

coingecko:
  api-key: API_KEY
  base-url: https://api.coingecko.com/api/v3

bscscan:
  api-key: API_KEY
  base-url: https://api.bscscan.com/api